<md-sidenav-container class="background-none shadow-none">
  <md-sidenav #productsnav [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" class="pa-0 ma-0">
    <div class="pl-1 pr-1 pb-1">
      <h6>Price</h6>
      <md-slider value="43"></md-slider>
    </div>
    <hr>

    <div class="pa-1">
      <h6>Brand</h6>
      <div class="pb-1">
        <md-checkbox>Apple</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>Microsoft</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>Samsung</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>HTC</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>Sony</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>Huawei</md-checkbox>
      </div>
    </div>
    <hr>

    <div class="pa-1">
      <h6>Screen Size</h6>
      <div class="pb-1">
        <md-checkbox>16 GB</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>32 GB</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>64 GB</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>128 GB</md-checkbox>
      </div>
    </div>
    <hr>

    <div class="pa-1">
      <h6>OS</h6>
      <div class="pb-1">
        <md-checkbox>Android</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>iOS</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>Windows</md-checkbox>
      </div>
    </div>

    <div class="pa-1">
      <button md-raised-button color="primary">Filter</button>
    </div>

  </md-sidenav>
  <md-toolbar color="primary" fxHide="false" fxHide.gt-sm>
    <button (click)="productsnav.toggle()" md-icon-button>
      <md-icon>short_text</md-icon>
    </button>
    <span class="mr-1 ml-1">Filter</span>
  </md-toolbar>

  <div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-md="33.33%" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" *ngFor="let product of products">
      <md-card>
        <div fxLayout="row">
          <div class="media-grid compact bg-cover" [ngStyle]="{'background-image': 'url(../../assets/images/unsplash/'+ product.id +'.jpg)'}" fxFlex="40">
            <figure>
              <div class="product-badge" *ngIf="product.status === 'sale'"><span>Sale</span></div> 
            </figure>
          </div>
          <div class="pa-1" fxFlex>
            <div fxLayout="column">
              <span fxLayout="row">
                <span *ngFor="let star of stars" [class.mat-text-default]="star <= product.rating" class="mat-text-muted">&#9733;</span>
              </span>
              <div>
                <p class="ma-0">{{ product.name }}</p>
                <p class="ma-0 pa-0 text-md">{{ product.description }}</p>
              </div>
              
              <div class="mat-text-primary text-xl">
                <span> $ {{ product.price }}</span>
                <span class="strikethrough mat-text-muted text-sm" *ngIf="product.discounted === 'discounted'">$ {{ product.discount }}</span>
              </div>
            </div>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</md-sidenav-container>