<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
<nav class="docs-navbar">
  <a md-button class="button" routerLink="/" aria-label="Vui choi Angular">
    <img class="docs-angular-logo"
      src="../../../assets/angular-white-transparent-logo.svg"
      alt="angular">
    <span>DNX_SPA</span>
  </a>
  <a md-button class="button" routerLink="home">Home</a>
  <a md-button class="button" routerLink="counter">Counter</a>
  <a md-button class="button" routerLink="fetch-data">Fetch data</a>
  <div class="flex-spacer"></div>
  <theme-picker></theme-picker>
</nav>