@import '../node_modules/@angular/material/theming';
@import '../ClientApp/app/components/navbar/navbar-theme.scss';
@import '../ClientApp/app/components/home/home-theme.scss';
@import '../ClientApp/app/components/footer/footer-theme.scss';
@import '../ClientApp/app/components/sidenav/sidenav-theme.scss';

// Styles for the docs app that are based on the current theme.
@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .app-background {
    background: mat-color($background, background);
  }

  .primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  .footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  @include nav-bar-theme($theme);
  @include home-theme($theme);
  @include footer-theme($theme);
  @include sidenav-theme ($theme);

  // @include sidenav-theme($theme);
}

