@mixin home-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-home {
    .header-background {
      background: mat-color($primary);
      height: 3000px;
    }

    .header-headline {
      color: mat-color($primary, default-contrast);
    }

    .header-start {
      color: mat-color($primary);
    }

    .homepage-row,
    .mat-typography {
      color: mat-color($foreground, secondary-text);
    }
    .mat-typography {
      line-height: 2;
      a {
        color: mat-color($primary);
      }
    }
    
  }
}
