<md-sidenav-container class="background-none shadow-none">
  <md-sidenav #productsnav [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" class="pa-0 ma-0">
    <div class="pl-1 pr-1 pb-1">
      <h6>Price</h6>
      <md-slider value="43"></md-slider>
    </div>
    <hr>

    <div class="pa-1">
      <h6 class="mt-1">Essential oils</h6>
      <div class="pb-1">
        <md-checkbox>Lemon grass</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>Lavender</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>Rosemary</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>Jasmine</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>Tangerine</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>Ylang-ylang</md-checkbox>
      </div>
    </div>
    <hr>

    <div class="pa-1">
      <h6>Soaps</h6>
      <div class="pb-1">
        <md-checkbox>Ocean</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>Sunshine</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>Charcoal</md-checkbox>
      </div>
      <div class="pb-1">
        <md-checkbox>Fresh</md-checkbox>
      </div>
    </div>

    <div class="pa-1">
      <button md-raised-button color="primary">Filter</button>
    </div>

  </md-sidenav>
  <md-toolbar color="primary" fxHide="false" fxHide.gt-sm>
    <button (click)="productsnav.toggle()" md-icon-button>
      <md-icon>short_text</md-icon>
    </button>
    <span class="mr-1 ml-1">Filter</span>
  </md-toolbar>

  <div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="33.3333%" fxFlex="100" *ngFor="let product of products">
      <md-card>
        <!-- <div class="media-grid" [routerLink]="['/detail', product.productId]"> -->
          <div class="media-grid" (click)="redirect(product.productId)">
          <figure>
            <div class="product-badge" *ngIf="product.status === 'sale'"><span>Sale</span></div>
            <img src="{{'data:image/png;base64,' + product.thumbNailPhoto}}">
            <figcaption>
              <p>
                <a href="javascript:;" mdTooltip="Add to cart" mdTooltipPosition="left">
                  <md-icon>shopping_basket</md-icon>
                </a>
                <a href="javascript:;" mdTooltip="Add to favorites" mdTooltipPosition="left">
                  <md-icon>favorite</md-icon>
                </a>
                <a href="javascript:;" mdTooltip="Share" mdTooltipPosition="left">
                  <md-icon>share</md-icon>
                </a>
                <a href="javascript:;" mdTooltip="Bookmark" mdTooltipPosition="left">
                  <md-icon>bookmark</md-icon>
                </a>
              </p>
            </figcaption>
          </figure>
        </div>
        <md-card-content>
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex>
              <p class="ma-0">{{ product.name }}</p>
              <p class="ma-0 pa-0 text-md">{{ product.description }}</p>
            </div>
            <div class="mat-text-primary text-xl">
              <span class="strikethrough mat-text-muted text-sm" *ngIf="product.discounted === 'discounted'">$ {{ product.discount }}</span>
              <span> $ {{ product.price }}</span>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-sidenav-container>
